services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: zekbrowser
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./storage:/var/www/storage
      - ./database:/var/www/database
      - ./backups:/var/www/backups
      - ./dewrito.json:/var/www/dewrito.json
    ports:
      - "8000:80"
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
      - DB_CONNECTION=sqlite
      - DB_DATABASE=/var/www/database/database.sqlite
      - PYTHON_API_URL=http://127.0.0.1:8001
    networks:
      - app-network

networks:
  app-network:
    driver: bridge